<nav class="navbar fixed-top cl-blue-navbar">
    <div class="row container-fluid">
        <div class="col-md-8 col-8">
            <div class="container-fluid">
                <a [routerLink]="['/user', uid]" class="navbar-link cl-text-white cl-icon-padding">
                    <i class="fas fa-chevron-left fontawsome_icon"></i>
                </a>
                <a class="cl-text-white navbar-brand cl-text-bold" href="#">
                    Websites
                </a>
            </div>
        </div>
        <div class="cl-md-4 col-4">
            <a [routerLink]="['/user', uid, 'website', 'new']" class="navbar-link cl-text-white float-right">
                <i class="fas fa-plus fontawsome_icon"></i>
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div  class="col-12">
        <ul class="list-group cl-list-group-borderless">
            <li *ngFor="let website of websites" class="list-group-item cl-list-item-borderless">
                <a [routerLink]="['/user', uid, 'website', website._id, 'page']">{{website.name}}</a>
                <a [routerLink]="['/user', uid, 'website', website._id]">
                    <i class="fas fa-cog fontawsome_icon float-right"></i></a>
            </li>

        </ul>
    </div>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
    <div class="container-fuild col-12">
        <a [routerLink]="['/user', uid]" class="navbar-link navbar-text float-right cl-text-white cl-icon-padding">
            <i class="fas fa-user fontawsome_icon"></i>
        </a>
    </div>
</nav>
