<nav class="navbar fixed-top cl-blue-navbar">
    <div class="container-fluid ">
        <a [routerLink]="['/user', uid]" class="navbar-brand float-left">
            <span id="left-chev" class="fas fa-chevron-left cl-text-white"> Website</span>
        </a>
        <a routerLink="/user/{{uid}}/website/new" class="navbar-brand cl-text-white cl-icon-padding pull-right">
            <span id="icon-plus" class="fas fa-plus fontawsome_icon"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group cl-list-group-borderless">
        <li *ngFor="let website of websites" class="list-group-item cl-list-item-borderless">
            <a [routerLink]="['/user', uid, 'website', website._id, 'page']">{{website.name}}</a>
            <a [routerLink]="['/', website._id]">
                <span class="fas fa-cog fontawsome_icon float-right"></span></a>
        </li>

    </ul>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
    <div class="container-fuild col-12">
        <a [routerLink]="['/user', uid]" class="navbar-link navbar-text float-right cl-text-white cl-icon-padding">
            <i class="fas fa-user fontawsome_icon"></i>
        </a>
    </div>
</nav>
