<nav class="navbar fixed-top navbar-light bg-light">
    <div class="row container-fluid">
        <div class="col-4">
            <div class="container-fluid">
                <a [routerLink]="['../']" class="navbar-link cl-text-black cl-icon-padding">
                    <i class="fas fa-chevron-left fontawsome_icon"></i>
                </a>
                <div class="navbar-brand cl-text-bold cl-text-black">
                    Widget Edit
                </div>
            </div>
        </div>
        <div class="float-right">
            <a (click)="onUpdateWidget()" class="cl-text-black cl-icon-padding">
                <i class="fas fa-check fontawsome_icon"></i>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div *ngIf="errorFlag" class="alert alert-danger">
        {{errorMsg}}
    </div>

    <form>
        <div class="form-group">
            <label>Name</label>
            <input
                    type="text"
                    class="form-control"
                    name="widgetName"
                    placeholder="Widget Name"
                    [(ngModel)]="newWidget.name">
        </div>
        <div class="form-group">
            <label>Text</label>
            <input
                    type="text"
                    class="form-control"
                    name="widgetText"
                    placeholder="Widget Text"
                    [(ngModel)]="newWidget.text">
        </div>
        <div class="form-group">
            <label>URL</label>
            <input
                    type="url"
                    class="form-control"
                    name="widgetURL"
                    placeholder="Widget URL"
                    [(ngModel)]="newWidget.url">
        </div>
        <div class="form-group">
            <label>Width</label>
            <input
                    type="text"
                    class="form-control"
                    name="widgetWidth"
                    placeholder="Widget Width"
                    [(ngModel)]="newWidget.text">
        </div>
        <button class="btn btn-danger btn-block" (click)="onDelete()">Delete</button>
    </form>
</div>


<nav class="navbar fixed-bottom bg-light">
    <div class="container-fuild col-12">
        <a routerLink="/user/{{uid}}" class="navbar-link navbar-text float-right cl-icon-padding">
            <i class="fas fa-user fontawsome_icon"></i>
        </a>
    </div>
</nav>
