<nav class="navbar bg-primary navbar-fixed-top">
    <div class="container-fluid ">
        <a class="navbar-brand cl-text-white" routerLink="/profile">Profile</a>
        <a (click)="onUpdateUser()" class="btn-primary navbar-text pull-right"><span class="fas fa-check cl-text-white"></span></a>
    </div>
</nav>

<div class="container-fluid">
    <div *ngIf="errorFlag" class="alert alert-danger">
        {{errorMsg}}
    </div>

    <form (ngSubmit)="onUpdateUser()" #f="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    class="form-control"
                    id="username"
                    [(ngModel)]="user.username"
                    required
                    #username="ngModel"
            />
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   pattern=".+@.+"
                   name="email"
                   id="email"
                   placeholder="Email"
                   class="form-control"
                   [(ngModel)]="user.email"
                   required
                   #email="ngModel"
            />
            <span class="help-block" *ngIf="!email.valid && email.touched">
                Please enter correct email address!
                </span>
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   name="first-name"
                   id="first-name"
                   placeholder="First Name"
                   class="form-control"
                   [(ngModel)]="user.firstName"
                   required
                   #firstName="ngModel"

            />
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   name="last-name"
                   placeholder="Last Name"
                   class="form-control"
                   id="last-name"
                   [(ngModel)]="user.lastName"
                   required
                   #lastName="ngModel"
            />
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" [routerLink]="['/user', uid, 'website']">
                Websites
            </button>
        </div>
        <div>
            <a (click)="logout()" class="btn btn-danger btn-block" routerLink="/login">Logout</a>
        </div>
    </form>
</div>

