
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="row container-fluid">
    <div class="col-4">
      <div class="container-fluid">
        <a href="widget-list.html" class="navbar-link cl-text-black cl-icon-padding">
          <i class="fas fa-chevron-left fontawsome_icon"></i>
        </a>
        <a class="navbar-brand cl-text-bold cl-text-black" href="#">
          Choose Widget
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group">
    <li class="list-group-item border-0">
      <a [routerLink]="['../', widget._id]" class="text-blue" (click)="onNewWidget('HEADING')">Header</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="['../', widgetId]" class="text-blue" (click)="onNewWidget('IMAGE')">Image</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="['../', widgetId]" class="text-blue" (click)="onNewWidget('YOUTUBE')">YouTube</a>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom bg-light">
  <div class="container-fuild col-12">
    <a href="profile.html" class="navbar-link navbar-text float-right cl-icon-padding">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>

