<div>
    <nav class="navbar fixed-top cl-blue-navbar">
        <div class="container-fluid ">
            <div class="col-1 ">
                <a [routerLink]="['../']" class="navbar-link  cl-icon-padding">
                    <i class="fas fa-chevron-left fontawsome_icon cl-text-white"></i>
                </a>
            </div>
            <div class="col-3 d-none d-md-block">
                <a class="cl-text-white navbar-brand cl-text-bold" href="#">
                    Websites
                </a>
            </div>
            <div class="col-8">
                <a class="cl-text-white navbar-brand cl-text-bold float-left" href="#">
                    New Websites
                </a>
                <a [routerLink]="['../']" (click)="onSubmit()" class="navbar-link float-right">
                    <i class="fas fa-check fontawsome_icon cl-text-white"></i>
                </a>
            </div>

        </div>
    </nav>

    <nav class="navbar fixed-top cl-blue-navbar">
        <div class="container-fluid ">
            <a [routerLink]="['/user', uid]" class="navbar-brand float-left">
                <span id="left-chev" class="fas fa-chevron-left cl-text-white"> Website</span>
            </a>
            <a [routerLink]="['/user', uid, 'website', 'new']" class="navbar-brand cl-text-white cl-icon-padding pull-right">
                <span id="icon-plus" class="fas fa-plus fontawsome_icon"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid cl-container-padding">
        <div class="row">
            <div class="col-sm-4 d-none d-sm-block">
                <div class="form-control" *ngFor="let website of websites">
                    <a [routerLink]="['../', website._id, 'page']" class="text-blue">{{ website.name }}</a>
                    <a [routerLink]="['../', website._id]" class="text-blue float-right">
                        <i class="fas fa-cog"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-7">
                <form #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="websiteName">Website Name</label>
                        <input
                                type="text"
                                name="websiteName"
                                class="form-control"
                                id="websiteName"
                                [(ngModel)]="newWebsiteName"
                                required
                                #name="ngModel">
                        <span
                                class="help-block"
                                *ngIf="!name.valid && name.touched">
            Please enter a valid website name
          </span>
                    </div>
                    <div class="form-group">
                        <label for="websiteDescription">Website Description</label>
                        <textarea
                                id="websiteDescription"
                                name="websiteDescription"
                                class="form-control"
                                rows="5"
                                [(ngModel)]="newWebsiteDescription"></textarea>
                    </div>
                    <button
                            class="btn btn-primary btn-block"
                            type="submit"
                            [disabled]="!f.valid">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>


    <nav class="navbar fixed-bottom cl-blue-navbar">
        <div class="container-fuild col-12">
            <a [routerLink]="['user', uid]" class="navbar-link navbar-text float-right cl-icon-padding">
                <i class="fas fa-user fontawsome_icon cl-text-white"></i>
            </a>
        </div>
    </nav>
</div>
