<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-4">
            <div class="container-fluid">
                <a [routerLink]="['/user', uid, 'website', wid, 'page']"
                   class="navbar-link cl-text-black cl-icon-padding">
                    <i class="fas fa-chevron-left fontawsome_icon"></i>
                </a>
                <a class="navbar-brand cl-text-bold cl-text-black" href="#">
                    Widgets
                </a>
            </div>
        </div>
        <div class="float-right">
            <a [routerLink]="['./new']" class="cl-text-black cl-icon-padding">
                <i class="fas fa-plus fontawsome_icon"></i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="widget-list" appSortable (newIndexes)="reorderWidgets($event)">
        <div *ngFor="let widget of widgets">
            <div [ngSwitch]="widget.widgetType">
                <a [routerLink]="['/user', uid, 'website', wid, 'page', pid, 'widget', widget._id]">
                    <span class="fa fa-cog"></span>
                </a>
                <span>{{widget.name}}</span>
                <br>

                <div *ngSwitchCase="'HEADING'">
                    <div [ngSwitch]="widget.size">
                        <h1 *ngSwitchCase="1">{{widget.text}}</h1>
                        <h2 *ngSwitchCase="2">{{widget.text}}</h2>
                        <h3 *ngSwitchCase="3">{{widget.text}}</h3>
                        <h4 *ngSwitchCase="4">{{widget.text}}</h4>
                        <h5 *ngSwitchCase="5">{{widget.text}}</h5>
                        <h6 *ngSwitchCase="6">{{widget.text}}</h6>
                        <span *ngSwitchDefault>{{widget.text}}</span>
                    </div>
                </div>
                <!--<div *ngFor="let widget of widgets" [ngSwitch]="widget.widgetType">-->
                <!--<a routerLink="./" class="float-right text-black">-->
                <!--<i class="fas fa-bars"></i>-->
                <!--</a>-->
                <!--<a [routerLink]="['/user', uid, 'website', wid, 'page', pid, 'widget', widget._id]" class="float-right text-blue">-->
                <!--<i class="fas fa-cog"></i>-->
                <!--</a>-->
                <img *ngSwitchCase="'IMAGE'" class="image-widget" [src]="widget.url">
                <div *ngSwitchCase="'YOUTUBE'" class="youtube-widget">
                    <iframe [src]="widget.url|safe" rameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div *ngSwitchCase="'HTML'" class="html-widget"></div>
                <div *ngSwitchCase="'TEXT'">
                    <div *ngIf="widget.formatted">
                        <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
                    </div>
                    <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
                           placeholder="{{widget.placeholder}}" class="form-control"/>

                    <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                              rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                              class="form-control">{{widget.text}}</textarea>
                </div>
                <p *ngSwitchDefault><br><br></p>
                <a [routerLink]="['/user', uid, 'website', wid, 'page', pid, 'widget', widget._id]"></a>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom bg-light">
        <div class="float-left navbar-text">
            <a href="#" class="cl-icon-padding cl-text-black">
                <i class="fas fa-play"></i>
            </a>
            <a href="#" class="cl-icon-padding cl-text-black">
                <i class="far fa-eye"></i>
            </a>
        </div>
        <div class="float-right">
            <a [routerLink]="['/user', uid]" class="navbar-link navbar-text float-right cl-icon-padding">
                <i class="fas fa-user fontawsome_icon"></i>
            </a>
        </div>
    </nav>
</div>

